<ion-content>
  <div class="evdetails-layout">
  <ion-card class="evdetails-container">
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-heart"></i>
    <img src="../../../../assets/event.jpeg" alt="Event Image">
  </ion-card>
  <h2>Royal Hall Concert</h2>
  <div class="event-details">
    <ion-icon name="calendar-outline"></ion-icon>
    <div class="details">
      <h3>June 22, 2024</h3>
      <h4>Main concert hall</h4>
    </div>
    <h5>4:00 PM - 6:00 PM</h5>
  </div>
  <h1>About</h1>
  <p>The energy crackles in the air as the anticipation builds. The city lights outside pulse in rhythm with the excited chatter echoing through the cavernous venue. Tonight, the air vibrates with the promise of an unforgettable experience - the "Electric Night" concert.</p>
<ion-button color="#6236FF" name="buy">Buy tickets 60$</ion-button>
</div>
<app-bottom-bar></app-bottom-bar>
</ion-content>
